@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Kumbh Sans", sans-serif;
}
